---
layout: default
---

<main class="main container-fluit p-0">
  <div
    class="container-fluit py-4 py-md-2 py-lg-0 px-5 main__container text-light"
  >

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col d-flex align-items-center text-center text-lg-start">
      <div>
        <h1 class="fw-bold">
          Transformando ideas en soluciones digitales de vanguardia
        </h1>
        <h5 class="fw-light fs-6 fs-md-5">
          Potenciamos tu negocio con tecnología innovadora y
          personalizada, brindando soluciones de software que impulsan el
          crecimiento y la eficiencia de tu empresa.
        </h5>
        <button type="button" class="btn btn-dark text-uppercase px-4">
          ver más
        </button>
      </div>
    </div>
  
    <div class="col d-flex align-items-center">
      <img
        src="./resource/img/computer_hooli.png"
        class="img-fluid"
        alt="devices hooli"
      />
    </div>
  </div>

  </div>

  <div class="container" id="modulos">
    <h1 class="my-5">ANÁLISIS Y DISEÑO DE SISTEMAS DE INFORMACIÓN</h1>
    <p>El análisis y diseño de sistemas de información es una disciplina que se enfoca en comprender y mejorar los procesos y sistemas utilizados en una organización para recopilar, procesar, almacenar y distribuir información de manera eficiente y efectiva.</p>
  </div>
  
  <div class="container d-flex align-items-center justify-content-evenly flex-row flex-wrap my-5 gap-2 gap-md-3 ">
    <div class="card" style="width: 18rem;">
      <img src="./resource/img/img_m1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MÓDULO I: GENERALIDADES</h5>
        <p class="card-text">Introduce los conceptos básicos del análisis y diseño de sistemas de información, abordando su importancia y aplicaciones en el contexto empresarial.</p>
        <a href="moduloI.html" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./resource/img/img_m2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MÓDULO II: MARCO TEÓRICO</h5>
        <p class="card-text">Explora los fundamentos teóricos y principios clave del análisis y diseño de sistemas de información, proporcionando un marco de referencia para su implementación práctica.</p>
        <a href="moduloII.html" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./resource/img/img_m3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MÓDULO III: ANÁLISIS Y DISEÑO ESTRUCTURADO</h5>
        <p class="card-text">Enfoca en metodologías y técnicas para el análisis y diseño de sistemas de información basados en estructuras jerárquicas y procesos lineales.</p>
        <a href="moduloIII.html" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./resource/img/img_m4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MÓDULO IV: ANÁLISIS Y DISEÑO ORIENTADO A OBJETOS</h5>
        <p class="card-text">Se centra en el enfoque de análisis y diseño de sistemas de información que utiliza la orientación a objetos, empleando conceptos como clases, objetos, herencia y encapsulación.</p>
        <a href="moduloIV.html" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./resource/img/img_m5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Implementación</h5>
        <p class="card-text">Proceso de llevar a cabo la construcción y desarrollo práctico de los sistemas de información diseñados, poniendo en práctica los conceptos y metodologías aprendidas.</p>
        <a href="implementacion.html" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
  </div>
</main>